#hidden-mt {
display:none;
}
#hidden-te {
display:none;
}
#hidden-fi {
display:none;
}
#hidden-ia {
display:none;
}
#add{
display:none;
}
#price{
display:none;
}
.thumb{
     height: 100px;
     width: 100px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
}

.sale-image {

	position: relative;
	max-width: 60%;
	width: 60%;
}